body,
html {
    width: 100%;
    height: 100%;
    cursor: url('img/pointer.gif'), pointer;
}

h1 {
    font-family: kranky;
    font-size: 75px;
    color: grey;
}

h3 {
    font-family: wendy one;
    color: darkgrey;
}

p,
li,
address {
    font-family: Love Ya Like A Sister;
    font-size: 19px;
}

#list {
    font-size: 20px;
}

address {
    font-size: 25px;
}

@media(min-width:767px) {
    .navbar {
        padding: 20px 0;
        -webkit-transition: background .5s ease-in-out, padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out, padding .5s ease-in-out;
        transition: background .5s ease-in-out, padding .5s ease-in-out;
    }
    .top-nav-collapse {
        padding: 0;
    }
}

.landing-section {
    display: table;
    width: 100%;
    height: 100%;
    padding-top: 150px;
    text-align: center;
    background: linear-gradient( rgba(255, 255, 255, 1), rgba(255, 255, 255, 0)), url('img/landing.jpg') no-repeat top;
    background-size: cover;
}

.btn {
    width: 50px;
    height: 50px;
    margin-top: 15px;
    padding: 5px 5px;
    border: 2px solid #fff;
    border-radius: 100%!important;
    font-size: 30px;
    font-weight: bold;
    color: grey;
    border-color: grey;
    background: #ffcccc;
}

#title {
    padding-bottom: 250px;
    font-family: Fredericka the Great;
    font-size: 125px;
    color: grey;
}

.info-section {
    width: 100%;
    height: 100%;
    padding-top: 100px;
    padding-bottom: 50px;
    text-align: center;
    background: white;
    /*background:linear-gradient(#99ffcc, #9999ff);*/
}

.jumbotron {
    margin-left: 100px;
    margin-right: 100px;
    padding-top: 50px;
    padding-bottom: 150px;
    background: linear-gradient( rgba(0, 0, 0, .3), rgba(0, 0, 0, .2)), url('img/infobg.jpg') no-repeat top fixed;
    background-size: cover;
    color: white;
}

.tips-section {
    width: 100%;
    height: 100%;
    padding-top: 100px;
    text-align: center;
    /*background: #ffcccc;*/
    background:linear-gradient(#ffcccc, #dab3ff);
}

#gif {
    padding-top: 150px;
}

#QA {
    font-family: coming soon;
    font-size: 14px;
    font-weight: bold;
}

.Q {
    background: lightgrey;
}

.gallery-section {
    width: 100%;
    height: 100%;
    padding-top: 20px;
    text-align: center;
    background: white;
}

.carousel-inner>.item>img,
.carousel-inner>.item>a>img {
    width: 70%;
    margin: auto;
}

#pets {
    width: 100%;
    height: 100%;
    background: linear-gradient(#dab3ff, #ffcccc);
    padding: 50px;
    padding-top: 100px;
    padding-bottom: 100px;
}

.contact-section {
    width: 100%;
    height: 100%;
    padding-top: 100px;
    text-align: center;
    background: linear-gradient( rgba(255, 255, 255, 1), rgba(255, 255, 255, 0)), url('img/bg.jpg') no-repeat top fixed;
    background-size: cover;
}

.footer {
    background: #ffcccc;
    padding: 5px;
}


/*#footercolor{*/


/*    color: #00324d;*/


/*}*/

.text-vertical-center {
    text-align: center;
    vertical-align: middle;
    display: table-cell;
}

.img-responsive{
    display: block;
    margin: auto;
    width:100%;
    height: 100%;
}




@media(max-width: 767px){
      #title {
        font-size: 65px;
    }
    h1 {
        font-size: 50px;
    }
    li {
        font-size: 17px;
    }
    .landing-section {
        height: auto;
    }
    .info-section {
        height: auto;
    }
    .jumbotron {
        padding: 50px;
        background: linear-gradient( rgba(0,0,0, .65), rgba(0,0,0,.50)), url('img/infobg.jpg') no-repeat top fixed;
        background-size: cover;
        color: white;
    }
    #psize {
        font-size: 20px;
    }
    .tips-section {
        height: auto;
        width: 100%;
    }
    #list {
        font-size: 20px;
    }
    #pets {
        height: auto;
    }
    img {
        height: auto;
        width: auto;
    }
    h3 {
        font-size: 20px
    }
    .well {
        font-size: 17px;
    }
    .img-responsive {
        display: block;
        margin: auto;
        width: 80%;
    }
    address{
        font-size: 20px;
    }
}